@import "loader";

#waitlist-form {
    color: black;

    .gw-mt-2 > :first-child {
        display: none;
    }

    input,
    button {
        font-weight: bold;
        text-align: center;
        color: black;
        background: #7291c780; // #4E6CA175;
        font-size: 21px;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        font-weight: bold !important;
        border: none;
        outline: none;
    }

    .gw-rounded-md:not(.gw-p-7) {
        border-radius: 20px;
        background-color: #7291c775 !important;
    }

    #primaryCTA {
        background: #7291c7aa !important;
    }

    .gw-p-7 {
        padding-top: 0;
    }

    .gw-mt-4.gw-text-sm {
        font-size: 1.1rem !important;
    }

    .gw-flex.gw-flex-col.gw-w-full.gw-mx-auto {
        zoom: 1.1;
    }

    .gw-mr-2.gw-self-center {
        font-size: 1rem;
        font-weight: bold;
    }

    .gw-mt-4.gw-text-center.gw-flex.gw-flex-col.gw-text-sm {
        display: none;
    }

    .gw-text-base.gw-mb-3.gw-text-center {
        font-size: 1.16rem;
    }
}

.no-phone-link {
    cursor: pointer;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}